<!DOCTYPE html>
<html>
<head>
  <title>School by Zimaam</title>
  {{template "header" .}}
</head>
<body oncontextmenu="return false;">

  <div id="container">
    <form id="form" method="post" action="{{.BaseURL}}/call" autocomplete="off">
      <h1>
        <img src="https://www.svgrepo.com/download/91193/high-school.svg" width="100%" alt="">
      </h1>
      <p>Group School for everyone. Share the link.</p>
      <input type="text" value="" name="call" placeholder="Room ID (Leave empty for random)" autofocus>
      <input type="submit" value="Start Session">
    </form>
  </div>

  <footer>
    <div>{{.Version}}</div>
  </footer>
<script>
document.onkeydown = function(e) {
if(event.keyCode == 123) {
return false;
}
if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.keyCode == 'S'.charCodeAt(0)){
return false;
}
}
</script>
</body>
